nav {
    background-color: #964734;
    padding: 1rem;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
}

a {
    color: #AFDDE5;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Lora', serif;
}

a:hover {
    color: #ddd;
}
